[workspace]
name = "VirtualShip"
preview = ["pixi-build"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[package]
name = "virtualship"
version = "dynamic"

[package.build]
backend = { name = "pixi-build-python", version = "==0.3.2" }

[package.host-dependencies]
setuptools = "*"
setuptools_scm = "*"

[environments]
test-latest = { features = ["test"], solve-group = "test" }
test-py310 = { features = ["test", "py310"] }
test-py311 = { features = ["test", "py311"] }
test-py312 = { features = ["test", "py312"] }
test-notebooks = { features = ["test", "notebooks"], solve-group = "test" }
docs = { features = ["docs"], solve-group = "docs" }
typing = { features = ["typing"], solve-group = "typing" }
pre-commit = { features = ["pre-commit"], no-default-feature = true }

[dependencies] # keep section in sync with pyproject.toml dependencies
python = ">=3.10"
click = "*"
parcels = ">3.1.0"
pyproj = ">=3,<4"
sortedcontainers = "==2.4.0"
opensimplex = "==0.4.5"
numpy = ">=2.1"
pydantic = ">=2,<3"
pyyaml = "*"
copernicusmarine = ">=2.2.2"
yaspin = "*"
textual = "*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.test.dependencies]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
seabird = "*"
openpyxl = "*"

[feature.test.tasks]
tests = "pytest -ra --cov --cov-report=xml --cov-report=term --durations=20"

[feature.notebooks.dependencies]
nbval = "*"
ipykernel = "*"

[feature.notebooks.tasks]
tests-notebooks = "pytest --nbval-lax docs/"

[feature.docs.dependencies]
sphinx = ">=7.0"
myst-parser = ">=0.13"
nbsphinx = "*"
ipykernel = "*"
pandoc = "*"
sphinx-copybutton = "*"
pydata-sphinx-theme = "*"
sphinx-autobuild = "*"

[feature.docs.tasks]
docs = "sphinx-build docs docs/_build"
docs-watch = "sphinx-autobuild docs docs/_build"

[feature.pre-commit.dependencies]
pre_commit = "*"

[feature.pre-commit.tasks]
lint = "pre-commit run --all-files"

[feature.typing.dependencies]
mypy = "*"
lxml = "*"

[feature.typing.tasks]
typing = "mypy src/virtualship --install-types"
